.container {
    margin-top: 50px;
}

#btn-go-info {
    margin-right: 20px;
}

#trackDb-select {
    margin-bottom: 10px;
}

.table button {
    margin-left: 5px;
    margin-right: 5px;
}